<!-- latest-blog-section start -->
	<section class="latest-blog-section p-t-100 p-t-xs-80 p-b-60 p-b-xs-20 p-b-md-20 p-b-lg-20 p-b-xl-20" style="background-image: url(assets/img/bg/latest-blog-bg.webp)">
		<div class="container">
			<div class="row justify-content-between m-b-150 m-b-xl-120 m-b-lg-100 m-b-md-80 m-b-xs-80">
				<div class="col-xl-3 col-md-6 col-12">
					<div class="latest-blog-content" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
						<div class="common-subtitle">
							<img alt="icon-2" src="assets/img/icons/icon-2.svg"> <span>News & Blog</span>
						</div>
						<div class="common-title text-start">
							<h2>Check Latest Blog Post</h2>
						</div>
						<div class="text">
							<p>Advanced cameras combined with a large display, fast performance, and highly.</p>
						</div>
						<div class="blog-btn">
							<a class='e-primary-btn has-icon' href='blog-grid.html'>Explore All Post
								<span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i><i class="fa-regular fa-arrow-right"></i></span></span></a>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-md-6 col-12">
					<div class="blog-slider-active" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
						<div class="swiper">
							<div class="swiper-wrapper">
                            <% (locals.blogs || []).forEach((blog) => {
                                const date = new Date(blog.createdAt);
                                const day = String(date.getDate()).padStart(2, '0');
                                const month = date.toLocaleString('default', { month: 'short' });
                                const year = date.getFullYear();
                            %>
                            <div class="swiper-slide">
                                <div class="blog-card">
                                    <div class="thumb">
                                        <a href='/blog/<%= blog.data.slug %>'><img alt="<%= blog.data.name %>" src="<%= blog.data.thumbnail ? blog.data.thumbnail.url : 'assets/img/thumbs/thumb-5.webp' %>"></a>
                                        <% if (blog.data.category && blog.data.category.data) { %>
                                        <div class="category">
                                            <a href='/blog?category=<%= blog.data.category.data.slug %>'><%= blog.data.category.data.name %></a>
                                        </div>
                                        <% } %>
                                        <div class="event-date">
                                            <h2><%= day %></h2>
                                            <h5><%= month %></h5><span><%= year %></span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-top p-0 m-b-20">
                                            <div class="title">
                                                <h3><a href='/blog/<%= blog.data.slug %>'><%= blog.data.name %></a></h3>
                                            </div>
                                            <div class="text">
                                                <p><%= blog.data.excerpt %></p>
                                            </div>
                                        </div>
                                        <div class="content-bottom">
                                            <a class='e-primary-btn has-icon has-small' href='/blog/<%= blog.data.slug %>'>Read
                                                More
                                                <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i><i class="fa-regular fa-arrow-right"></i></span></span></a>
                                            <div class="social-share">
                                                <!-- Social share logic to be implemented -->
                                                <button class="total-shared"><i class="fa-solid fa-share-nodes"></i>
                                                    <span>Share</span></button>
                                                <div class="social-links">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-x-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
							</div>
						</div>
						<div class="blog-pagination"></div>
					</div>
				</div>
			</div>



		</div>
		<div class="shape"><img alt="shape" src="assets/img/shapes/shape-38.webp"></div>
	</section>
	<!-- latest-blog-section end -->
