<!-- we-are-friends-section start -->
<section class="we-are-friends-section m-t-160 m-t-md-120 m-t-xs-100 m-b-120 m-b-md-100 m-b-xs-80">
    <div class="container">
        <div class="row row-gap-5">
            <div class="col-xl-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="friends-left">
                    <div class="common-subtitle text-uppercase">
                        <span>We Are Friends</span>
                    </div>
                    <div class="common-title text-start">
                        <h2>Meet Our The Best Volunteers Team</h2>
                    </div>
                    <div class="text">
                        <p>Our team is a mix of creatives, strategists, and innovators who work together to bring you
                            the best, product/service.</p>
                    </div>
                    <div class="blog-btn">
                        <a class='e-primary-btn has-icon' href='be-volunteer.html'>Become a Volunteer <span
                                class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i
                                        class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                    <div class="top-right">
                        <img alt="authors" src="assets/img/authors/author-1.webp">
                        <div class="people-joined">
                            <h5>2603</h5><span>Peoples Registered</span>
                        </div>
                    </div>
                    <div class="shape"><img alt="icon" src="assets/img/icons/icon-15.svg"></div>
                </div>
            </div>
            <div class="col-xl-6" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <% (locals.volunteers || []).forEach((volunteer) => { %>
                <div class="friends-card m-b-20">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="author-details">
                                <div class="author-info">
                                    <h5><%= volunteer.data.name %></h5>
                                    <p><%= volunteer.data.role %></p>
                                    <div class="description">
                                        <p><%= volunteer.data.bio %></p>
                                    </div>
                                </div>
                                <div class="socials">
                                    <div class="social-links">
                                        <% if (volunteer.data.linkedin_url) { %>
                                            <a href="<%= volunteer.data.linkedin_url %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        <% } %>
                                        <!-- Other socials can be added if schema supports them -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumb">
                                <img alt="<%= volunteer.data.name %>" src="<%= volunteer.data.avatar ? volunteer.data.avatar.url : 'assets/img/thumbs/thumb-17.webp' %>">
                                <div class="details-btn-3">
                                    <i class="fa-regular fa-arrow-right-long"></i>
                                </div>
                                <div class="category"><img alt="category" src="assets/img/shapes/shape-48.webp"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>
<!-- we-are-friends-section end -->
