<%- include('../../components/page-hero') %>
<div class="my-5"></div>
<%- include('../../components/donation-causes') %>

<%- include('../../components/home-numbers') %>

<%- include('../../components/faq') %>

<%- include('../../components/testimonials') %>

<%- include('../../components/partners') %>
